<div class="col-md-8 col-xl-6 chat">
    <div class="card">
        <div class="card-header msg_head">
            <div class="d-flex bd-highlight">

                <section id="chatroom">
                    <section id="feedback"></section>
                </section>
                <section id="input_zone">
                    <input id="message" class="vertical-align" type="text" />
                    <button id="send_message" class="vertical-align" type="button">Send</button>
                </section>

                <script src="http://code.jquery.com/jquery-latest.min.js"></script>
                <script src="/public/js/index.js"></script>

            </div>
        </div>
    </div>
</div>
